<form (ngSubmit)="onSubmit(regForm)" #regForm="ngForm">
  <div>
    <h2 id="title">Registration Form</h2>
    <label for="firstName" class="labels">First Name</label>
    <input type="text" name="firstname" [(ngModel)]="fname" required/><br />
    <label *ngIf="fname==''" style="color: red;">Please Enter the Name, ts mandatory</label>
<br>
    <label for="lastName" class="labels">Last Name</label>
    <input type="text" name="lastname" ngModel/>
    
    <p>Enter Date Of Birth</p>
    <input type="date" name="Dob" id="" [(ngModel)]="DateOfB" *ngIf="displayDate"/>

    <label>Cities</label>
    <select ngModel name="cityDropdown">
      <option [value]="city.id" *ngFor="let city of cities" #sagar>
        {{ city.city }}
      </option>
    </select>
    <button type="submit">Submit</button>
  </div>
</form>
{{fname}}

{{DateOfB | date:'dd-MM-yyyy'}}
<!-- {{cities|json}} -->
